# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# LocalStack & Docker
.localstack/
docker-compose.override.yml

# Progetto HeartWall - File temporanei o dati locali
*.log
# Se scarichi i JSON da S3 per test locali, escludi la cartella di download
downloads/
temp_data/

# OS files
.DS_Store
Thumbs.db

# Credenziali (Mai caricarle su GitHub!)
credentials.ini
*.pem
